



<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1, November 9th, 2021</h3>
    <table class="table table-striped">
    
    <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td>Installation Problems and Pre-workshop Survey</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 3   -->
        <td>9:30 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:00 am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:15 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:15 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:15 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 3   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:30 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:45 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with git</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>04:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>04:15 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with git</a></td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>05:00 pm</td>        <!-- time    -->
             <td>Wrap-up and End</td>        <!-- content -->
 </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2, November 11th, 2021</h3>
    <table class="table table-striped">
    <tr>               <!-- row 1   -->
        <td>09:00 am</td>        <!-- time    -->
        <td>Installation Problems and Review questions</td>        <!-- content -->
     </tr>
   <tr>               <!-- row 2   -->
      <td>9:30 am</td>    <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/ ">Programming with R </a></td>        <!-- content -->
    </tr>
   <tr>               <!-- row 3   -->
        <td>10:00 am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
     </tr>
        <tr>               <!-- row 4  -->
            <td>10:15 am</td>         <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/ ">Programming with R</a></td>        <!-- content -->
      </tr>
         <tr>               <!-- row 6   -->
        <td>11:00 am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
         <tr>               <!-- row 7  -->
        <td>11:15 am</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/ ">Programming with R</a></td>        <!-- content -->
  </tr>
        <tr>               <!-- row 3   -->
        <td>12:15 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
        <tr>               <!-- row 3   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/ ">Programming with R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>02:30 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
         <tr>               <!-- row 7  -->
        <td>02:45 pm</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/ ">Programming with R</a></td>        <!-- content -->
  </tr>
      <tr>               <!-- row 6   -->
        <td>04:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 7  -->
        <td>04:15 pm</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/ ">Programming with R</a></td>        <!-- content -->
  </tr>
      <tr>               <!-- row 3   -->
        <td>05:00 pm</td>        <!-- time    -->
        <td>Wrap-up and End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    
  </div>
  <div class="col-md-6"> <!-- right column -->
    
  </div>
</div>
<hr/>
  

  
  
  
  

  
  
  

  
  
  

  
  
